<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="#" class="nav-logo">LOGO</a>
        <div class="nav-menu">
            <a href="#" class="nav-link">關於</a>
            <a href="#" class="nav-link">作品集</a>
            <a href="#" class="nav-link">聯絡我</a>
        </div>
    </nav>
    <!-- <header>
        <div class="header-content">
            <h1>HELLO</h1>
            <p>
                但在建材那些人體效率，寬頻眼前，客人商。
            </p>
        </div>
    </header> -->
    <header>
        <img src="https://picsum.photos/id/22/1200/600" alt="">
        <div class="header-content">
            <h1>HELLO</h1>
            <p>
                搜尋轉載負責，硬盤財產說完，他對真正，不太一句事實是誰寶貝醫院造型顧客求助，本週厲害讓我們，地球本。
            </p>
        </div>
    </header>
    <section id="about">
        <div class="container">
            <div class="about-img">
                <img src="https://picsum.photos/id/92/600/800" alt="">
            </div>
            <div class="about-content">
                <h2>Hello</h2>
                <p>
                    液晶鬱悶遭遇理解傢俱重新有的，位元購買魔獸妹妹審核發佈日期趨勢些什麼安全智能，引導不起夫妻全家長度對付，提前世界盃，腦。
                </p>
                <ul>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                    <li>list</li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>